* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
  
}

/* Shared css class */
.btn-btn {
    border-radius: 8px;
    background: #FF5400;
    border-style: none;
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    padding: 12px 25px;

}

/* Header section CSS */
header{
    margin: 50px 135px;
    /* border: 1px solid tomato; */

}
/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger img {
    width: 45px;
    height: 45px;
}
.hamburger {
    display: none;
}
.nav-name {
    display: flex;
    align-items: center;
}
.nav-name h2 {
    color: #131318;
    margin-left: 15px;
    font-size: 36px;
    font-weight: 800;
}
.nav-travel {
    color: #FF5400;
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
.nav-menu ul> li {
   margin-left: 44px;
   font-size: 18px;

}
.li-home {
    color: #FF5400;
    font-weight: 700;
}

/* Banner css */
.banner {
    margin-top: 50px;
    /* width: 1078px; */
    width: 100%;
    height: 500px;
    text-align: center;
 
    justify-content: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 60%), url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    background-size: cover;
    background-position: center;

    border-radius: 10px;
  

   
}

.banner-content {
   padding-top: 120px;
}
.banner-content h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
 }

 .banner-content p {
    margin-top: 20px;
    color: #FFF;
    /* font-family: Mulish; */
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;

 }
.form-div { 
     margin-top: 18px;

    display: inline-flex;
    /* border: 1px solid tomato; */
    background: rgba(255, 255, 255, 0.30);
    justify-content: center;
    padding: 12px; 
    border-radius: 8px;
 
}

.input-class{
    color: rgba(19, 19, 24, 0.50);
    border-radius: 4px;
    background: #FFF;
    width: 150px;
    height: 38px;
    border-style: none;
    margin-right: 10px;
    font-size: 14px;

}

/* Popular tour section */

.popular-container{
  
    margin-top: 70px;
    display: flex;
    gap: 40px;
}
.popular-img  {
    width: 100%;

}
.popular-text h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular-text p ,li {
    margin-top: 14px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 13px;

    
}

.listyle {
    padding-left: 20px;
   
}

/* Destination section */
main{
    margin: 50px 135px;
    /* border: 1px solid tomato; */
}
.dest-text {
    text-align: center;
    margin-bottom: 50px;
}
.dest-text h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800

}
.dest-text p{
    margin-top: 20px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.dest-img-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto; 
    gap: 10px;
    
}  


 .dest-img-container img {
    width: 100%;
    object-fit: cover;
    
} 
.grid-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.grid-2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    
}
.grid-3 {
    grid-column: 1/span 4;
    grid-row: 2/span 1;
}
.grid-4 {
    grid-column: 5/span 5;
    grid-row: 2/span 1;
}

.grid-5 {
    grid-column: 10/span 3;
    grid-row: 2/span 1;
   
}
.grid-6 {
    grid-column: 1/span 5;
    grid-row: 3/span 1;
   
}

.grid-7 {
    
    grid-column: 6/span 7;
    grid-row: 3/span 1;

} 
/* Choose us container */
.choose-text {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 70px;
}
.choose-text h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}
.choose-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.card-header {
    margin-top: 10px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.card-p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;


}
.choose-card1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
.choose-card2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.choose-card3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.choose-card-container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
}

.choose-card1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}
.choose-card2 {
    grid-column: 7/span 6;
    grid-row: 1/span 1;
    
}
.choose-card3 {
    grid-column: 4/span 6;
    grid-row: 2/span 1;
}
/* Extra section */
 .extra-content h3 {
    margin-top: 60px;
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;

 }

 .extra-content p {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 100px;
   
}
.extra-img-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.extra-img {
   
    width: 70%;
    height: 500px;
    
}
.extra-img img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 10px;
}

    /* perfect place  */
   #perfect-place {
    margin-top: 120px;
   }

/* Footer css */
footer {
    padding-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    padding-bottom: 100px;

}
.footer-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p {
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
    
    
 }

 .f-icon img{
    width: 40px;
    height: 40px;
 }
 .f-icon-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
 }
 .f-line {
    
    margin-top: 50px;
   
    background: rgba(19, 19, 24, 0.10);
    width: 50%; 
    border: 0.2px solid #ccc;
    margin: 0 auto; 
 }



